<br/>



<div class="container" style="max-width:100%">
    <div class="row">



        <div class="col">
            <!-- <div class="card" style="max-height:700px;overflow-y:scroll;"> -->
                
            <table class="table table-bordered" style="max-height:700px;overflow-y:scroll;" >
                <thead>
                    <tr>
                        <th scope="col">Device</th>
                        <th scope="col" *ngIf="!(ShowDevice)">Enabled</th>
                        <th scope="col" *ngIf="!(ShowDevice)">Status</th>
                        <th scope="col" *ngIf="!(ShowDevice)">Last Update({{LastUpdatePercent}}%)</th>
                        <th scope="col" *ngIf="!(ShowDevice)">Manage Device</th>

                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let device of devices | keys ; let i=index">
                        <th scope="row">
                            <p style="cursor:pointer;color:blue;text-decoration: underline;" (click)="showDevice(i)">{{device.value.uuid}}</p>
                        </th>
                        <td *ngIf="!(ShowDevice)">
                            <ng-container *ngIf="device.value.enabled == 0">

                                <button (click)="disableDevice(device.value.uuid)" class="btn btn-success">Enable</button>

                            </ng-container>
                            <ng-container *ngIf="device.value.enabled == 1">

                                <button (click)="disableDevice(device.value.uuid)" class="btn btn-danger">Disable</button>

                            </ng-container>

                        </td>
                        <td [ngClass]="{'WarningUpdate': device.value.deviceStatus == 'Building' || device.value.deviceStatus == 'Started Building' || device.value.deviceStatus == 'Queued' , 'ErrorUpdate': device.value.deviceStatus == 'Disabled' || device.value.deviceStatus == 'Not Updated In A While' , 'AllGoodUpdate': device.value.deviceStatus == 'Started Up' }" *ngIf="!(ShowDevice)">{{device.value.deviceStatus}}</td>
                        
                        <td  [ngClass]="{'WarningUpdate': device.value.SecondsSinceUpdate >= 120, 'ErrorUpdate': device.value.SecondsSinceUpdate > 300, 'AllGoodUpdate': device.value.SecondsSinceUpdate < 120 }" *ngIf="!(ShowDevice)">{{device.value.SecondsSinceUpdate}} </td>
                    
                        
                        <td *ngIf="!(ShowDevice)">
                            <button (click)="showDevice(i)" class="btn btn-primary">Manage</button>
                        </td>
                    </tr>



                </tbody>


            </table>
            <!-- </div> -->
            <!-- DeviceTable Column -->
        </div>

        <div *ngIf="ShowDevice" class="col-md-10">

            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                <h1> Modify Device {{selectedDevice.uuid}}</h1>
                 </div>
                    <div class="col-md-3">
                        <button (click)="saveDevice(selectedDevice.uuid)" class="btn btn-large btn-success">Save</button>
                    </div>
                    <div class="col-md-3">
                <button (click)="backToDevices()" type="button" class="btn btn-danger btn-md">
                    Back
                </button>
                </div>
               
                </div>
            </div>
            <div class="card frame" style="max-height:700px;overflow-y:scroll;">

            

            <div class="card">
                

                <mat-tab-group>
                    <mat-tab label="Device Information">
                        

                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th scope="row" style="width:20%;">Id</th>
                                    <td colspan="7">
                                        <input class="form-control" style="max-width:300px;" [(ngModel)]="selectedDevice.device_id">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Status</th>
                                    <td colspan="3">{{selectedDevice.deviceStatus}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Enabled</th>
                                    <ng-container *ngIf="selectedDevice.enabled == 0">
                                        <td colspan="3">
                                            <button (click)="disableDevice(selectedDevice.uuid)" class="btn btn-success">Enable</button>
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="selectedDevice.enabled == 1">
                                        <td colspan="3">
                                            <button (click)="disableDevice(selectedDevice.uuid)" class="btn btn-danger">Disable</button>
                                        </td>
                                    </ng-container>

                                </tr>
                                <tr>
                                    <th scope="row">Instance</th>
                                    <td colspan="5">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <select [(ngModel)]="selectedDevice.instance_name" class="form-control form-control-sm">
                                                    <ng-container *ngFor="let instance of instances | keys">
                                                        <option value="{{instance.value.name}}">{{instance.value.name}}</option>
                                                    </ng-container>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <button (click)="updateDeviceInstance(selectedDevice.uuid, selectedDevice.instance_name)" class="btn btn-success">Update</button>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Account </th>
                                    <td colspan="3">{{selectedDevice.account_username}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Last Seen</th>
                                    <td colspan="3">{{selectedDevice.last_seen * 1000 | date:' HH:mm:ss '}} </td>
                                </tr>
                                <tr>
                                    <th scope="row">Fast IV</th>
                                    <td colspan="3">
                                        <select [(ngModel)]="selectedDevice.fastIV" class="form-control form-control-sm">
                                            <option value="0">Disabled</option>
                                            <option value="1">Enabled</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Account Manager</th>
                                    <td colspan="3">
                                        <select [(ngModel)]="selectedDevice.enableAccountManager" class="form-control form-control-sm">
                                            <option value="0">Disabled</option>
                                            <option value="1">Enabled</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Device Group</th>
                                    <td colspan="3">
                                        <input class="form-control" style="max-width:300px;" [(ngModel)]="selectedDevice.deviceGroup">
                                            </td>
                                </tr>
                                <tr>
                                    <th scope="row">Workspace Folder</th>
                                    <td colspan="3">
                                        <input class="form-control" style="max-width:300px;" [(ngModel)]="selectedDevice.workspace_folder">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Backend URL</th>
                                    <td colspan="3">
                                        <input class="form-control" style="max-width:300px;" [(ngModel)]="selectedDevice.backendURL">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">IPA Path</th>
                                    <td colspan="3">
                                        <input class="form-control" style="max-width:300px;" [(ngModel)]="selectedDevice.IpaPath">
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">DeviceManager Host</th>
                                    <td colspan="3">
                                        <input class="form-control" style="max-width:300px;" [(ngModel)]="selectedDevice.DeviceManagerHost">
                                    </td>
                                </tr>
                                <tr>
                                    <b> Device Auto Assignments</b>

                                    <ng-container *ngFor="let deviceAA of deviceAssignments | keys">
                                        <ng-container *ngIf="selectedDevice.uuid == deviceAA.value.device_uuid">
                                            <tr>
                                                <td>
                                                    {{deviceAA.value.instance_name}}
                                                </td>
                                                <td>
                                                    {{deviceAA.value.AssignmentTime}}
                                                </td>
                                                <td>
                                                    <button (click)="deleteAssignment(selectedDevice.uuid, deviceAA.value.instance_name, deviceAA.value.time)" class="btn btn-danger btn-sm">X</button>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>

                                </tr>

                            </tbody>
                        </table>
                    </mat-tab>
                    <mat-tab label="Device Actions">
                        <h1>{{selectedDevice.uuid}}</h1>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>
                                        <button class="btn btn-primary" (click)="OpenDeviceManagerURL(selectedDevice.DeviceManagerHost, selectedDevice.uuid , DeviceOuputURL)">
                                        Get Device Output Log</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" (click)="OpenDeviceManagerURL(selectedDevice.DeviceManagerHost, selectedDevice.uuid , DeviceOutputLogBackupURL)">
                                        Get Device Output Log Backup</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" (click)="OpenDeviceManagerURL(selectedDevice.DeviceManagerHost, selectedDevice.uuid , DeviceErrLogURL)">
                                        Get Device Err Log</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" (click)="OpenDeviceManagerURL(selectedDevice.DeviceManagerHost, selectedDevice.uuid , DeviceErrLogBackupURL)">
                                        Get Device Err Log Backup</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <button class="btn btn-primary" (click)="OpenDeviceManagerURL(selectedDevice.DeviceManagerHost, selectedDevice.uuid , DeviceUninstallUIControllerURL)">
                                        Uninstall UI Controller</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" (click)="OpenDeviceManagerURL(selectedDevice.DeviceManagerHost, selectedDevice.uuid , DeviceRebuildDDFolderURL)">
                                        Rebuild DD Folder</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" (click)="OpenDeviceManagerURL(selectedDevice.DeviceManagerHost, selectedDevice.uuid , DeviceRestartURL)">
                                       Restart Device(USB Only)</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-primary" (click)="OpenDeviceManagerURL(selectedDevice.DeviceManagerHost, selectedDevice.uuid , DeviceScreenshotURL)">
                                        Take Device Screenshot(USB Only)</button>
                                    </td>


                                </tr>
                            </tbody>

                        </table>
                    </mat-tab>
                </mat-tab-group>






            </div>
        </div>

    </div>
        
        </div>

</div>
